html {
    scroll-behavior: smooth !important; /* !important  */
}

body {
    background-color: rgb(255, 246, 234);
    /* manggil font family lato yang udah di install */
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 36px;
    /* font-weight: 900; */
}

p.paragraf1 {
    margin-top: 0;
    color: rgb(79, 185, 255);
    font-size: 55px;
    font-weight: 700;
}
hr {
    margin-top: -35px;
    width: 65%;
    margin-left: 0
}
p.paragraf2 {
    color: tomato;
    font-size: larger;
    font-weight: 600;
}
p.paragraf3 {
    color: orange;
    font-size: xx-large;
    font-weight: 500;
}
p.paragraf4 {
    color: rgb(91, 224, 162);
    font-size: x-large;
    font-weight: 400;
}
p.paragraf5 {
    color: rgb(241, 110, 253);
    font-size: small;
    font-weight: 300;
}

a {
    font-size: x-large;
    color: brown;
}

img {
    width: 704px;
    height: 407px;
    background-color: #F1F3FF;
    margin-top: -30px;
}